*/* Universal Selector */
{
    margin:0px;
    padding:0px;

}

/* header */
.header
{
    height: 90px;
    width: 100%;
   /* background-color:rgba(16,128,234,1); */
    display:flex;
    justify-content: center;
    position:fixed;
}

/* Container */
.container
{
    /*height: 90px;*/
    width: 90%;
    /*background-color: red;*/
    display: flex;
}

/* header_container */
.header_container
{
    justify-content: space-between;
}

/* logo */
.logo
{
    height: 90px;
    width: 15%;
    /*background-color: yellow;*/
    font-size: 40px;
    font-family: 'Segoe UI';
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 90px;
}

/* nav */
.nav
{
    height: 90px;
    width: 35%;
    /*background-color: green;*/
    display:flex;
}

/* nav-item */
.nav-item
{
    width: 20%;
    height: 90px;
    /*background-color: gray;*/
    font-family: 'Segoe UI';
    text-align: center;
    line-height: 90px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.nav-item:hover /*Pseudo Class*/
{
    background-color: white;
    color:rgba(16,128,234,1);
}

/* banner */
.banner
{
    height: 95vh;
    width: 100%;
    background-color: gray;
    background-image: url('./images/banner.jpg');
    background-size: cover;
    /*background-image: cover;*/
}

/* overlay */
.overlay
{
    height: 95vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);/* alpha-transparency or opacity values 0-transparent and 1-visible*/
    display:flex;
    align-items:center;
}


/* banner_text */
.banner_text
{
    height:350px;
    width:50%;
    background-color:rgba(16,128,234,0.7);
    display:flex;
    align-items: center;
    color: white;
}

/* banner_title */
.banner_title
{
    font-size: 50px;
    margin-bottom: 15px;
}

/* banner_desc */
.banner_desc
{
    margin-bottom: 30px;
}

/* padd */
.padd
{
    padding: 20px;
   /*background-color: red;*/
    font-family:'Segoe UI';
}

/* banner_btn */
.banner_btn
{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI';
    border: 3px solid  white;
    cursor: pointer;
    transition:0.4s; /* Time to Change */
}
.banner_btn:hover
{
    background-color: white;
    color:rgba(16,128,234,1);
}

/* services */
.services
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#e6e6e6; 
    display:flex;
    align-items:center;
    flex-direction: column;
    font-family: 'Segoe UI';
}

/*services container */
.services_container
{
    margin-top:50px;
    flex-wrap: wrap;
    justify-content:space-between;
}

/* service */
.service
{
    height:400px;
    width: 47%;
    background-color: white;
    display:flex;
    margin-top: 20px;
}

/* service_img */
.service_img
{
    width: 40%;
    height: 400px;
   /* background-color: red; */
    display:flex;
    overflow:hidden;

}

/* service_details */
.service_details
{
    width: 60%;
    height: 400px;
   /* background-color: green; */
    display:flex;
    align-items:center;

}

/* service_padd */
.service_padd
{
    padding:20px;
}

/* service_btn */
.service_btn
{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color:rgba(16,128,234,1);
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI';
    border: none;
    cursor: pointer;
    transition:0.4s; /* Time to Change */ 
}

/* service_title */
.service_title
{
    margin-bottom: 15px;
}

/* service_desc */
.service_desc
{
    margin-bottom: 30px;
}

/* about */
.about
{
    padding-top: 50px;
    padding-bottom: 50px;
    width:100%;
    /*background-color: gray;*/
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    align-items: center;
}

/* about_container */
.about_container
{
    margin-top: 30px;
    line-height: 30px;
    display: inline;

}

/* start_text */
.start_text
{
    font-size: 40px;
    font-weight: bold;
    color: gray;
}

/* highlight */
.highlight
{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color:rgba(16,128,234,1);
    display: flex;
    justify-content: center;
}

.highlight_container
{
    justify-content: space-between;
}

/* high_ele */
.high_ele
{
    width: 22%;
    height: 230px;
    background-color:rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    text-align: center;
    color:white;
}

/* high_title */
.high_title
{
   font-size: 60px;
}

/* high_desc */
.high_desc
{
    font-size:25px;
}

/* quote */
.quote
{
    padding-top: 50px;
    padding-bottom: 50px;
    width:100%;
   /* background-color: gray; */
    display: flex;
    justify-content:center;
    font-family: 'Segoe UI';
}

/* quote_container */
.quote_container
{
    flex-direction: column;
    align-items: center;
}

/* quote_title */
.quote_title
{
    font-size: 50px;
    margin-bottom: 20px;
}

/* quote_btn */
.quote_btn
{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background-color:rgba(16,128,234,1);
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI';
    border: none;
    cursor: pointer;
    transition:0.4s; /* Time to Change */   
}

/* css for portfolio */
.portfolio
{
    /*padding-top: 50px;
    padding-bottom: 50px;*/
    width: 100%;
    display: flex;
   /* flex-direction: column; */
    justify-content: center;
    background-color:#e4e4e4;
    font-family: 'Segoe UI';
}


/* portfolio_container */
.portfolio_container
{
    width: 100%;
    flex-wrap: wrap;
   /* margin-top: 30px;*/
}

/* project */
.project
{
    width: 25%;
    height: 400px;
    background-color: red;
    display: flex;
    overflow: hidden;
}


/* project_1 */
.project_1
{
    background-image: url('https://images.pexels.com/photos/1639729/pexels-photo-1639729.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

/* project_2 */
.project_2
{
    background-image: url('https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    align-items: flex-end;
}

/* project_3 */
.project_3
{
    background-image: url('https://images.pexels.com/photos/315788/pexels-photo-315788.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

/* project_4 */
.project_4
{
    background-image: url('https://images.pexels.com/photos/4450334/pexels-photo-4450334.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    align-items: flex-end;
}

/* project_5 */
.project_5
{
    background-image: url('https://images.pexels.com/photos/2570139/pexels-photo-2570139.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

/* project_6 */
.project_6
{
    background-image: url('https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    align-items: flex-end;
}

/* project_7 */
.project_7
{
    background-image: url('https://images.pexels.com/photos/674783/pexels-photo-674783.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

/* project_8 */
.project_8
{
    background-image: url('https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    align-items: flex-end;
}

/* project_title */
.project_title
{
    color: white;
    width:100% ;
    height:150px;
    text-indent: 30px; /*move from left */
    line-height: 200px;
    background-color:rgba(16,128,234,0.5);
    cursor: pointer;
}
.project_title:hover
{
    height:400px;
    transition: 0.4s;
}

/* footer */
.footer 
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#353535;
    display: flex;
    justify-content: center;
}

/* footer_child */
.footer_child
{
    height:300px;
    width:25%;
   /* background-color: gray;*/
    font-family: 'Segoe UI';
    display: flex;
    justify-content: center;
}

/* footer_child_1 */
.footer_child_1
{
    align-items: center;
    color: white;
    font-size: 30px;
}

/* ul */
ul
{
    margin-top: 40px;
}

/* li */
li
{
   list-style-type: none;
   margin-bottom: 10px;
   color: white;
}

/* first */
.first
{
    font-size: 22px;
}

/* footer_child_4 */
.footer_child_4
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* social_container */
.social_container
{
    width:60%;
    justify-content: space-between;
}


/* social_icon */
.social_icon
{
    height: 50px;
    width: 50px;
   /* background-color: white; */
    background-size: cover;
}


/* si1 */
.si1
{
    background-image: url('./images/facebook.png');
}

/* si2 */
.si2
{
    background-image: url('./images/Google.png');
}

/* si3 */
.si3
{
    background-image: url('./images/Linkedin.png');
}

/* si4 */
.si4
{
    background-image: url('./images/instagram.png');
}
